.root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 60px;
    background-color: #2e2e2e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: -1px 2px 17px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 2px 17px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 17px 1px rgba(0, 0, 0, 0.75);
    border-radius: 0 0 10px 10px;
    user-select: none;
}

.spacer {
    margin: 0 10px 0 5px;
    width: 3px;
    height: 70%;
    border-radius: 5px;
    background-color: #383838;
}

.logo {
    margin: 0;
    padding: 0 10px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo img {
    margin: 0 0 0 30px;
    padding: 0;
    max-width: 35px;
    max-height: 35px;
    border-radius: 35px;
}

.logo h1 {
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    font-weight: 500;
    color: #fb8464;
}

.navElements {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    gap: 10px;
    flex-grow: 1;
    overflow: auto;
}

.navElements li {
    padding: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.navElements li:hover {
    background-color: #3e3e3e;
    transition: 0.2s all ease-in-out;
}

.navElements li:active {
    background-color: #1e1e1e;
    transition: 0.2s all ease-in-out;
}

.navElements li > svg {
    font-size: 20px;
}

.active {
    background-color: #1e1e1e;
}

.avatarContainer {
    border-radius: 30px;
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1e1e1e;
}

.avatar {
    border-radius: 30px 0 0 30px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.avatar:hover {
    background-color: #3e3e3e;
    transition: 0.2s all ease-in-out;
}

.avatar:active {
    background-color: #1e1e1e;
    transition: 0.2s all ease-in-out;
}

.avatar img {
    width: 30px;
    height: auto;
    border-radius: 30px;
}

.avatar h2 {
    font-size: 16px;
}

.button {
    border-radius: 0 30px 30px 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 11px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
}

.button:hover {
    background-color: #3e3e3e;
    transition: 0.2s all ease-in-out;
}

.button:active {
    background-color: #1e1e1e;
    transition: 0.2s all ease-in-out;
}

.button svg {
    width: 18px;
    height: auto;
}
