.box {
    background-color: #272727;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
        0 0 0 1px rgb(10 10 10 / 2%);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 50vw;
    padding: 15px;
}
.ownedServersBox {
    background-color: #272727;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
        0 0 0 1px rgb(10 10 10 / 2%);
    color: white;
    gap: 20px;
    width: 50vw;
    padding: 15px;
}
.avatar > img {
    max-width: 90px;
    max-height: 90px;
    border-radius: 90px;
}
.joinedAt {
    font-size: 1rem;
    color: #555555;
    margin: 0;
    padding: 0;
}

.toprow {
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.flexAlign {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 64px;
    height: auto;
    border-radius: 64px;
}

.details p {
    color: #656565;
}

.details h2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
