.inlineBox {
    background-color: #202020;
    border-radius: 6px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 15px;
    gap: 15px;
}
.inlineBox p {
    margin: 0;
    padding: 0;
    max-width: 95%;
    word-wrap: break-word;
}
.box {
    background-color: #272727;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
        0 0 0 1px rgb(10 10 10 / 2%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 97vw;
    padding: 15px;
}
.box p {
    max-width: 95%;
    word-wrap: break-word;
}
.avatar {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
.avatar img {
    margin: 0 5px;
    width: 35px;
    height: auto;
}
.poster > img {
    max-width: 35px;
    max-height: 35px;
    border-radius: 30px;
}
.poster {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 17px;
    align-items: center;
}
