.inputContainer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    border: 2px solid #303030;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.25s all ease-in-out;
}

.inputContainer:hover {
    border: 2px solid #606060;
}

.inputContainer:focus {
    border: 2px solid #fb8464;
}

.inputContainer:focus-within {
    border: 2px solid #fb8464;
}

.inputStartIcon {
    margin: 0 5px;
    padding: 0;
    font-size: 16px;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inputStartIcon * {
    max-width: 30px;
    max-height: 30px;
    border-radius: 30px;
}

.input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.input input {
    width: 98%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-size: 14px;
    font-family: Poppins;
}

.commentInput {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commentInput input {
    margin: 0 0 0 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 14px;
    font-family: Poppins;
}

.button {
    outline: none;
    border: none;
    background-color: transparent;
    margin: 0 5px 0 0;
    padding: 5px 5px;
    border-radius: 50px;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #505050;
}

.button svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    transition: 0.2s all ease-in-out;
}

.disabledButton {
    outline: none;
    border: none;
    background-color: transparent;
    margin: 0 5px 0 0;
    padding: 5px 5px;
    border-radius: 50px;
    transition: 0.2s all ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.disabledButton svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    transition: 0.2s all ease-in-out;
}
